body {
  padding: 0;
  margin: 0;
  line-height: 150%;
  font-size: 18px;
  color: black;
  background-color: #efeee7;
}

header {
  background-color: black;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: grey;
  text-align: center;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
}

/*lines 33-37 make the div display as inline block*/
#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#main-bio {
  width: 70%;
}

#contact-info {
  width: 30%;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
